body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* vertical height */
  margin: 0;
  line-height: 100%;
  text-align: center;
  font-family: sans-serif;
  font-size: 1.5em;
  background-image: url(../img/image4.jpg);
  top: 0;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.nav {
  order: -1;
  padding: 1em;

}

.footer {
  padding: 1em;
  text-align: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

.main {
  padding: 1em;
  text-align: center;
  font-family: 'Titillium Web', sans-serif;
}

.aside {
  padding: 1em;
  text-align: center;
}

.header {
  padding: 1em;
  font-family: 'Cuprum', sans-serif;
  font-size: 50px;
}

ul {
  padding-right: 10px;
  list-style-type: none;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
}

.home {
  padding: 10px;
  padding-right: 10px;
  border: 3px solid grey;
  border-radius: 10px;
}

.home:hover {
  background-color: #DEA460;
}

.bio {
  padding: 10px;
  border: 3px solid grey;
  border-radius: 10px;
}

.bio:hover {
  background-color: #DEA460;
}

.cv {
  padding: 10px;
  border: 3px solid grey;
  border-radius: 10px;
}

.cv:hover {
  background-color: #DEA460;
}

.contact {
  padding: 10px;
  border: 3px solid grey;
  border-radius: 10px;
}

.contact:hover {
  background-color: #DEA460;
}

.kajuimg {
  height: 6em;
  width: 8em;
  border: 1px solid grey;
}

.tabs {
  display: inline-table;
  text-align: center;
  align-items: center;
}

.paragraph {
  font-size: 1.5em;
}

.h3 {
  font-family: 'Titillium Web', sans-serif;
}

/* if viewport is smaller then 30em */
@media (max-width: 30em) {
  .main {
    display: flex;
    flex: 1 0 auto;
  }
}

/* if viewport is bigger than 30em */
@media (min-width: 30em) and (max-width: 100em) {
  .nav {
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-right: -100%;
  }

  .wrapper {
    flex-direction: row;
  }
  .main {
    flex: 1 0 auto;
  }
  .aside {
    display: flex;
    flex-direction: column;
    width: 20%;
  }

  .tabs {
  display: flex;
  flex-direction: row;
  }

.header {
  padding-bottom: 10px;
}

}
