body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  line-height: 100%;
  text-align: center;
  font-family: sans-serif;
  font-size: 1.5em;
  color: #333;
}

.nav {
  order: -1;
  padding: 10px;
  background-image: url(../img/image3.jpg);
}

.footer {
  padding: 1em;
  text-align: center;
  font-size: 0.7em;
  background-color: #E2E8F1;
}

.wrapper {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

.main {
  padding: 1em;
  background: rgb(230, 225, 224);
  font-size: 20px;
  text-align: left;
  list-style-type: none;
  font-family: 'Signika Negative', sans-serif;
  font-size: 0.8em;
}

.aside {
  padding: 1em;
  text-align: center;
  background: rgb(224, 220, 199);
  font-family: 'Signika Negative', sans-serif;
  font-size: 0.8em;
}


.tabs {
  position: relative;
  display: inline-table;
  text-align: center;
  align-items: center;
  width: 100%;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
  list-style-type: none;
}

.home {
  padding: 10px;
  padding-right: 10px;
  border: 3px solid black;
  border-radius: 10px;
  color: black;
  font-family: 'Open Sans', sans-serif;
}

.home:hover {
  background-color: #85B7FA;
}

.bio {
  padding: 10px;
  border: 3px solid black;
  border-radius: 10px;
  color: black;
  font-family: 'Open Sans', sans-serif;
}

.bio:hover {
  background-color: #85B7FA;
}

.bio:active {
  padding-bottom: 10px;
  background: blue;
}

.cv {
  padding: 10px;
  border: 3px solid black;
  border-radius: 10px;
  color: black;
  font-family: 'Open Sans', sans-serif;
}

.cv:hover {
  background-color: #85B7FA;
}

.contact {
  padding: 10px;
  border: 3px solid black;
  border-radius: 10px;
  color: black;
  font-family: 'Open Sans', sans-serif;
}

.contact:hover {
  background-color: #85B7FA;
}

.form {
  border: solid black 3px;
  padding: 1em;
  width: 40%;
  min-width: 15em;
  max-width: 26.5em;
  cursor: auto;
}

.header {
  padding: 1.5em;
  font-family: 'Cuprum', sans-serif;
  font-size: 2em;
  padding-bottom: 0px;
}

.p {
  font-size: 10em;
  font-family: 'Actor', sans-serif;
}

.cvinfo {
  padding: 10px;
  border: 3px solid grey;
  border-radius: 10px;
  font-size: 1em;
  font-family: 'Signika Negative', sans-serif;
  text-align: left;
}

.school {
  list-style-type: none;
}

.ol {
  list-style-type: circle;
}

.kajuimg {
  height: 7em;
  width: 6.5em;
  border: 1px solid grey;
}

.fa-github {
  list-style-type: none;
  color: black;
}

.fa-github:hover {
  background-color: #407DCF;
}

.fa-codepen {
  list-style-type: none;
  color: black;
}

.fa-codepen:hover {
  background-color: #407DCF;
}

p {
  font-family: 'Signika Negative', sans-serif;
}

.modules {
  font-family: 'Signika Negative', sans-serif;
}

@media (max-width: 30em) {
  .main {
    flex: 1 0 auto;
  }

  .tabs {
  display: block;
  justify-content: space-between;
  border-radius: 1px;
  border-width: inherit;
  margin-top: 4px;
  margin-bottom: 4px;
  }

  .header {
  font-size: 1.375em;
  line-height: 1;
  padding: 10px;
  }

}

@media (min-width: 37.5em) {
  .nav {
    display: block;
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-right: -100%;
  }
  .wrapper {
    flex-direction: row;
  }
  .main {
    flex: 1 1 auto;
  }
  .aside {
    width: 20%;
  }
  .cvinfo {
    font-size: 20px;
  }
}


/* Code Sources
* CodePen - Liz Coulter Smith: https://codepen.io/lizcoultersmith/pens/public/
* CodePen - Tom Rose: http://codepen.io/UoN-ThomasRose/pens/public/
* CodePen - http://codepen.io/
* W3 School - shttp://www.w3schools.com/
/* Sources
